@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  display: grid;
  min-height: 100vh;

  place-items: center;
  align-items: stretch;

  font-family: "Montserrat", sans-serif;
}

.box {
  width: 300px;
  min-height: 200px;

  border-radius: 10px;
}

.login__box {
  display: grid;
  gap: 15px;
}
.login__input {
  outline: none;
  border-radius: 5px;
}

.login__input--accept {
  border: solid 4px green;
}

.login__input--no-accept {
  border: solid 4px red;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
